.skill {
    width: 250px;
    background-color: #eeeef5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: #7272ef;
}