.footerBlock {
  background-color: rgba(186, 108, 208, 0.59);
  display: flex;
  align-items: center;
}

.footerContainer {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 25px;
  min-width: 30%;
}

.socialLink {
  width: 30px;
  height: 30px;
}

.copyRight {
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}