.distantWorkBlock {
    /*height: 30vh;*/
    background-color: rgba(208, 108, 123, 0.59);
    display: flex;
    align-items: center;
}

.distantWorkContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}